/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --background-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --section-title-color: #353430;
  --article-ttl-text-color: #353430;
  --decor-color: #353430;
  --hover-outline-color: rgba(50, 49, 45, 0.4);
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --major-title-color: #ffc2e6;

  .header__decorated-element__dark-theme {
    visibility: hidden;
  }
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --section-title-color: #353430;
    --article-ttl-text-color: #353430;
    --decor-color: #353430;
    --hover-outline-color: rgba(50, 49, 45, 0.4);
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --major-title-color: #ffc2e6;
      
    .header__decorated-element__dark-theme {
      visibility: hidden;
    }
  }
}