.page {
  inline-size: 375px;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: "IBM Plex mono", system-ui;
  font-weight: normal;
  padding-block: 10px;
  padding-inline: 10px;
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-rows: min-content;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  justify-self: end;
  align-self: start;
  background-color: transparent;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  justify-self: start;
  align-self: end;
  background-color: transparent;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.header__decorated-element__dark-theme {
  color: var(--accent-color);
  justify-self: end;
  position: relative;
  right: 30px;
}

.header__decorated-element__dark-theme::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 3px 2px var(--accent-color);
  margin-block: 8px;
  margin-inline: 10px;
}

.header__theme-menu {
  color: var(--decor-color);
  justify-self: end;
  margin-block-start: 145px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding-block: 1px;
  padding-inline: 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-outline-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__title {
  padding-block-start: 10px;
}

.major-title {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--major-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.8em;
  text-transform: lowercase;
  letter-spacing: -3px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--article-ttl-text-color);
}

.header__subtitle-text {
  font-weight: bold;
  scroll-padding-inline-end: 5px;
}

.main {
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
}

.section__subtitle {
  margin-block-end: 20px;
}

.section__article_title {
  margin-block-end: 10px;
}

.section__article_text {
  color: var(--main-text-color);
}

.paragraph-link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.paragraph-link:hover {
  text-decoration: underline;
}

.paragraph-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.picture-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-end: 40px;
}

.pictures-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture-section__image {
  inline-size: 100%;
  margin: 0;
}

.picture-section__image img {
  width: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  padding-block-start: 20px;
  display: grid;
}

.footer__title {
  align-self: center;
}

@media (width > 768px) {
  .page {
    inline-size: 768px;
  }

  .header {
    margin-block-end: 50px;
  }

  .major-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__title {
    letter-spacing: 0;
  }

  .header__subtitle {
    inline-size: 364px;
    justify-self: end;
    margin-block-start: 2px;
  }

  .main {
    gap: 82px;
  }

  .section {
    grid-template-columns: 1fr 472px;
    gap: 20px;
  }

  .section:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .section:nth-child(2) .section__title {
    inline-size: min-content;
  }

  .section__title {
    grid-column: 1;
  }

  .section__article {
    grid-column: 2;
  }

  .section__subtitle {
    grid-column: 2;
    grid-row: 1;
    block-size: min-content;
  }

  .picture-section {
    gap: 20px;
  }

  .pictures-article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr) 318px;
    gap: 20px;
  }

  .picture-section__image {
    margin: 0;
  }

  .picture-section__image img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .picture-section__image:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
  }

  .picture-section__image:nth-child(2) {
    grid-column: 5/-1;
    grid-row: 1/5;
  }

  .picture-section__image:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/6;
  }

  .picture-section__image:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3/5;
  }

  .picture-section__image:nth-child(5) {
    grid-column: 3/-1;
    grid-row: 5/6;
  }

  .footer__title {
    justify-self: center;
  }
}

@media (width > 1024px) {
  .page {
    inline-size: 1024px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: -23px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .major-title {
    font-size: clamp(9.25rem, 9.0115rem + 1.0178vw, 9.8rem);
  }

  .header__title {
    align-self: center;
  }

  .header__subtitle {
    inline-size: 50%;
  }

  .section:nth-child(2) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .section:nth-child(2) .section__article:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .section:nth-child(2) .section__article:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .section:nth-child(2) .section__article:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
  }
}
