.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: "IBM Plex mono", system-ui;
  font-weight: normal;
  padding: 10px;
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-rows: min-content;
  padding-block-end: 20px;
  margin-block-end: 30px;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  justify-self: end;
  align-self: start;
  background-color: transparent;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  justify-self: start;
  align-self: end;
  background-color: transparent;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.header__decorated-element__dark-theme {
  color: var(--accent-color);
  justify-self: end;
  position: relative;
  padding-inline-end: 28px;
}

.header__decorated-element__dark-theme::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 3px 2px var(--accent-color);
  margin-block: 8px;
  margin-inline: 10px;
}

.header__theme-menu {
  color: var(--decor-color);
  justify-self: end;
  margin-block-start: 40px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding-block: 1px;
  padding-inline: 13px;
  transition: 0.5s;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-outline-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__title {
  padding-block-start: 11px;
}

.major-title {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--major-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.83em;
  text-transform: lowercase;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--article-ttl-text-color);
  font-size: 18px;
}

.header__subtitle-text {
  font-weight: bold;
  padding-inline-end: 5px;
}

/* SECTIONS */

.sections {
  display: grid;
  gap: 50px;
  margin-block-end: 52px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  color: var(--section-title-color);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article_title {
  font-size: 18px;
  line-height: 1.3em;
}

.section-how .section__article_title {
  font-weight: normal;
}

.section__advices {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__article_text {
  color: var(--main-text-color);
  line-height: 1.3em;
}

.paragraph-link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
  transition: 0.5s;
}

.paragraph-link:hover {
  border-block-end: 1px solid currentColor;
}

.paragraph-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.picture-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture-section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.picture-section__list-item {
  inline-size: 100%;
}

.picture-section__image {
  inline-size: 100%;
  display: block;
}

/* FOOTER */

.footer {
  block-size: 97vh;
  display: grid;
}

.footer__title {
  align-self: center;
  padding-block-start: 4px;
  padding-inline-start: 4px;
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .header {
    margin-block-end: 40px;
    min-block-size: 1024px;
    padding-block-end: 40px;
  }

  .header__theme-menu {
    padding-block-start: 108px;
  }

  .major-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
    padding-block-start: 10px;
  }

  .header__subtitle {
    max-inline-size: 364px;
    justify-self: end;
  }

  .sections {
    gap: 80px;
    margin-block-end: 80px;
  }

  .section {
    grid-template-columns: 1fr 61.4vw;
  }

  .section-what {
    grid-template-columns: 1fr;
  }

  .section-what .section__title {
    inline-size: min-content;
  }

  .section__title {
    grid-column: 1;
  }

  .section__list:not(.section-what .section__list) {
    grid-column: 2;
  }

  .picture-section {
    gap: 20px;
  }

  .picture-section__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .picture-section__list-item:has(.sunset-image) {
    grid-column: span 2;
    grid-row: 1;
  }

  .picture-section__list-item:has(.ice-cream-image) {
    grid-column: 3;
    grid-row: span 2;
  }
  .picture-section__list-item:has(.tape-image) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  .picture-section__list-item:has(.books-image) {
    grid-column: 2;
    grid-row: 2;
  }
  .picture-section__list-item:has(.street-image) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .picture-section__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .footer {
    block-size: 96vh;
  }

  .footer__title {
    justify-self: center;
    padding-block-start: 4px;
    padding-inline-start: 0;
  }
}

@media (width >= 1024px) {
  .page {
    min-inline-size: 1024px;
    inline-size: 100%;
  }

  .header {
    min-block-size: 768px;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content 1fr;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
    padding-block-start: 0;
    padding-inline-start: 60px;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__decorated-element__dark-theme {
    grid-row: 1;
  }

  .major-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    padding-block-start: 0;
    align-self: center;
  }

  .header__subtitle {
    grid-column: 1;
    max-inline-size: 491px;
    margin-inline-end: -60px;
    align-self: center;
  }

  .section {
    grid-template-columns: 1fr 63.4vw;
  }

  .section-what {
    display: flex;
    flex-direction: column;
  }

  .section-what .section__title {
    max-inline-size: 280px;
    inline-size: 100%;
  }

  .section-what .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    block-size: 95vh;
  }

  .footer__title {
    padding-block-start: 2px;
    padding-inline-start: 2px;
  }
}
